    button {
        /*margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;*/
        line-height: 25px;
        font-size: 11px;
        font-weight: bold;
        padding: 0 20px;
        background: salmon;
        border-color: transparent;
        border-right: none;
        border-left: none;
        border-top: none;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
    }
    button:hover {
        background: lightsalmon;
    }
    button:active{
        background: red;
        border-color: black;
    }

    /*button#action{
        position: absolute;
        top: 15%;
        left: 1%;
        display:none;
    }*/
    button.primary{
        position: sticky;
        position: -webkit-sticky;
        top: 18px;
        left: 0;
        right: 0;
        overflow: auto;
        width: 25%;
        float: left;
    }
    button.primary:hover{
        border-bottom-width: 4px;
        border-bottom-color: rgb(189, 253, 183);
    }

    .dropbtn {
        background-color:salmon;
        color: black;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
    background-color: lightsalmon;
    }

    .dropdown {
        position: absolute;
        display: none;
        top: 20%;
        left: 1%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown a:hover {background-color: #ddd}

    .show {display:block;}

    .SL_buttons{
        position: absolute;
        display: none;
        top: 20%;
        left: 1%;
    }

.toolbar {
    min-height: 40px;
    margin-bottom: 5px;
}

#container {
    min-height: 400px;
    display: none;
}

.simulationItem {
    border-style: solid;
    border-width: 0.5px;
    border-color: #c5cfe0;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 50px;
    min-width: 300px;
}
