body {
    margin: 10px;
    white-space: nowrap;
  }

  h1 {
    font-size: 15px;
  }

  #container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .buttons button {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        line-height: 25px;
        font-size: 11px;
        font-weight: bold;
        padding: 0 20px;
        background: salmon;
        border-color: transparent;
        cursor: pointer;
        outline: none;
        display:inline-block;
        clear: both;
        transition: all 0.5s;
    }
    button:hover {
      background: lightsalmon;
    }


button:active{
  background: red;
  border-color: grey;
}


input{
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline;
    clear: both;
    transition: all 0.5s;
}

#record {
  height:40px;
  width:40px;
}

#record:hover {
  background: #ced6e2;
}

#stop {
  height:40px;
  width:40px;
}

#stop:hover {
  background: #ced6e2;
}